a[data-anchor]{padding:0 2px;}
aside{clear:right;float:right;font-size:.85em;font-style:normal;font-weight:normal;line-height:18px;margin:0px 0 10px 20px;width:300px;}
aside aside{line-height:1.2;margin:5px -10% 3px 10px;width:40%}

p{margin:0 auto;padding:5px 8px 10px;text-align:justify;}
aside p{float:none;margin:0;padding:5px 8px 10px;text-align:left;width:auto}
aside p:last-child{padding-bottom:5px}

/* Keep the following sorted in this order */

.color4, .color4 [data-anchor], .color4 [data-footnote]{background:rgb(249, 246, 246);border: 1px solid rgb(212, 165, 184)}
  .color4 [data-anchor]{background:rgba(212, 165, 184, 0.3)}

.color3, .color3 [data-anchor], .color3 [data-footnote]{background:rgb(250, 250, 236);border: 1px solid rgb(208, 223,  42)}
  .color3 [data-anchor]{background:rgba(208, 223,  42, 0.3)}

.color2, .color2 [data-anchor], .color2 [data-footnote]{background:rgb(246, 245, 249);border: 1px solid rgb(182, 167, 202)}
  .color2 [data-anchor]{background:rgba(182, 167, 202, 0.3)}

.color1, .color1 [data-anchor], .color1 [data-footnote]{background:rgb(250, 246, 239);border: 1px solid rgb(209, 167, 112)}
  .color1 [data-anchor]{background:rgba(209, 167, 112, 0.3)}

.color0, .color0 [data-anchor], .color0 [data-footnote]{background:rgb(249, 250, 241);border: 1px solid rgb(185, 213, 120)}
  .color0 [data-anchor]{background:rgba(185, 213, 120, 0.3)}

/* Uncomment these if you want links in asides to carry their parent border colors
  .color0 a[href]{border-color:rgb(185, 213, 120)}
  .color1 a[href]{border-color:rgb(209, 167, 112)}
  .color2 a[href]{border-color:rgb(182, 167, 202)}
  .color3 a[href]{border-color:rgb(208, 223,  42)}
  .color4 a[href]{border-color:rgb(212, 165, 184)}
*/